name: Screenshots baseline update

on:
  issue_comment:
    types: [created]

jobs:
  screenshots-baseline-update:
    name: Screenshots baseline update
    runs-on: macOS-latest
    timeout-minutes: 45
    steps:
      - name: acknowledge shot update to commenter
        id: check
        uses: Khan/pull-request-comment-trigger@1.0.0
        with:
          trigger: "/shot-update"
          reaction: rocket
        env:
          GITHUB_TOKEN: "${{ secrets.PAT }}"

      - uses: xt0rted/pull-request-comment-branch@v1
        if: steps.check.outputs.triggered == 'true'
        id: comment-branch
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cancel Old Workflows
        uses: styfle/cancel-workflow-action@0.9.1
        if: steps.check.outputs.triggered == 'true'
        with:
          workflow_id: update-screenshots-baseline.yml,pull-request.yml
          access_token: ${{ github.token }}

      - name: Cancel Pull Requests
        uses: styfle/cancel-workflow-action@0.9.1
        if: steps.check.outputs.triggered == 'true'
        with:
          ignore_sha: true
          workflow_id: pull-request.yml
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
        if: steps.check.outputs.triggered == 'true'
        with:
          token: ${{ secrets.PAT }}
          ref: ${{ steps.comment-branch.outputs.head_ref }}

      - name: Copy CI gradle.properties
        if: steps.check.outputs.triggered == 'true'
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: gradle/wrapper-validation-action@v1
        if: steps.check.outputs.triggered == 'true'

      - uses: actions/setup-java@v2
        if: steps.check.outputs.triggered == 'true'
        with:
          distribution: 'zulu'
          java-version: 11.0.8

      - name: Cache Gradle packages
        if: steps.check.outputs.triggered == 'true'
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/gradle-wrapper.properties', '**/libs.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: AVD cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-26

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          emulator-build: 7425822
          api-level: 26
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Instrumentation tests
        uses: reactivecircus/android-emulator-runner@v2
        if: steps.check.outputs.triggered == 'true'
        with:
          emulator-build: 7425822
          api-level: 26
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew executeScreenshotTests -Precord --stacktrace

      - name: Upload instrumentation test reports
        if: steps.check.outputs.triggered == 'true' && failure()
        uses: actions/upload-artifact@v2
        with:
          name: instrumentation-failure-26
          path: '**/build/reports'

      - name: Cleanup Gradle Cache
        if: steps.check.outputs.triggered == 'true'
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties

      - uses: EndBug/add-and-commit@v7
        if: steps.check.outputs.triggered == 'true'
        with:
          message: 'Updated screenshots baseline'
          pull_strategy: 'NO-PULL'
          push: true
          branch: ${{ steps.comment-branch.outputs.head_ref }}
